# Question-2

In [1]:
# loading necessary libraries
import numpy as np
import pandas as pd

In [2]:
# loading dataset
data_INDIA =pd.read_excel("DDW-C17-0000.XLSX",header=5)

In [3]:
# to show first five rows
data_INDIA.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0

In [4]:
# renaming columns and show the dataset
c = ['State_Code','State_Name','Main_Ln_Code','Main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
data_INDIA.columns = c
data_INDIA

,State_Code,State_Name,Main_Ln_Code,Main_Ln_Name,Main_Ln_Persons,Main_Ln_Males,Main_Ln_Females,1st_Sub_Ln_Code,1st_Sub_Ln_Name,1st_Sub_Ln_Persons,1st_Sub_Ln_Males,1st_Sub_Ln_Females,2nd_Sub_Ln_Code,2nd_Sub_Ln_Name,2nd_Sub_Ln_Persons,2nd_Sub_Ln_Males,2nd_Sub_Ln_Females
0,0,INDIA,1000.0,ASSAMESE,15311351.0,7810583.0,7500768.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0,INDIA,NaN,NaN,NaN,NaN,NaN,2000.0,BENGALI,2025303.0,1042862.0,982441.0,NaN,NaN,NaN,NaN,NaN
2,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,BODO,883.0,521.0,362.0
3,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,GUJARATI,11.0,9.0,2.0
4,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6000.0,HINDI,245880.0,153937.0,91943.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24755,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,71000.0,KUKI,27.0,16.0,11.0
24756,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82000.0,LUSHAI/MIZO,20.0,5.0,15.0
24757,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,96000.0,PAITE,75.0,30.0,45.0
24758,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,114000.0,THADO,25.0,11.0,14.0
24759,0,INDIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,118000.0,VAIPHEI,14.0,3.0,11.0

In [5]:
# lenth of dataset
len(data_INDIA)

24760

In [6]:
# calculation total population in India, as each will have one unique mother toungue, sum of all people from mother toungue will produce total population in India
l=list(data_INDIA['Main_Ln_Code'].dropna().unique())
list_of_index = []
for i in l:
    list_of_index.extend(data_INDIA.index[data_INDIA['Main_Ln_Code']==i].tolist())
total_person_males = 0
for i in list_of_index:
    total_person_males = total_person_males + data_INDIA['Main_Ln_Males'][i]
#total_person_males
total_person_females = 0
for i in list_of_index:
    total_person_females = total_person_females + data_INDIA['Main_Ln_Females'][i]
#total_person_females

In [7]:
# calculating total population having second language
l=list(data_INDIA['1st_Sub_Ln_Code'].dropna().unique())
list_of_index = []
for i in l:
    list_of_index.extend(data_INDIA.index[data_INDIA['1st_Sub_Ln_Code']==i].tolist())
total_person_1st_Sub_males = 0
for i in list_of_index:
    total_person_1st_Sub_males = total_person_1st_Sub_males + data_INDIA['1st_Sub_Ln_Males'][i]
#total_person_1st_Sub_males
total_person_1st_Sub_females = 0
for i in list_of_index:
    total_person_1st_Sub_females = total_person_1st_Sub_females + data_INDIA['1st_Sub_Ln_Females'][i]
#total_person_1st_Sub_females

In [8]:
# calculating total population having third language
l=list(data_INDIA['2nd_Sub_Ln_Code'].dropna().unique())
list_of_index = []
for i in l:
    list_of_index.extend(data_INDIA.index[data_INDIA['2nd_Sub_Ln_Code']==i].tolist())
total_person_2nd_Sub_males = 0
for i in list_of_index:
    total_person_2nd_Sub_males = total_person_2nd_Sub_males + data_INDIA['2nd_Sub_Ln_Males'][i]
#total_person_2nd_Sub_males
total_person_2nd_Sub_females = 0
for i in list_of_index:
    total_person_2nd_Sub_females = total_person_2nd_Sub_females + data_INDIA['2nd_Sub_Ln_Females'][i]
#total_person_2nd_Sub_females

In [12]:
# calculate required columns of output file

state_code = []
percent_one_males = []
percent_two_males = []
percent_three_males = []
percent_one_females = []
percent_two_females = []
percent_three_females = []


# for first 9 datasets having "DDW-C17-0i00.XLSX" format, i is from 1 to 9
for i in range(1,10):
    a = pd.read_excel("DDW-C17-0"+str(i)+"00.XLSX",header=5)
    #print(list_of_states[i])
    c = ['State_Code','State_Name','Main_Ln_Code','Main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    y = list(a['State_Code'].dropna().unique())
    state_code.append(("{:02d}".format(y[0])))
    
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln_males = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln_males = total_person_Main_Ln_males + a['Main_Ln_Males'][i]
    #total_person_Main_Ln.append(s1)
    total_person_Main_Ln_females = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln_females = total_person_Main_Ln_females + a['Main_Ln_Females'][i]
        
        
        
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln_males = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln_males = total_person_1st_Sub_Ln_males + a['1st_Sub_Ln_Males'][i]
    #total_person_1st_Sub_Ln.append(s2)
    total_person_1st_Sub_Ln_females = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln_females = total_person_1st_Sub_Ln_females + a['1st_Sub_Ln_Females'][i]
        
        
    
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln_males = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln_males = total_person_2nd_Sub_Ln_males + a['2nd_Sub_Ln_Males'][i]
    #total_person_2nd_Sub_Ln.append(s3)
    total_person_2nd_Sub_Ln_females = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln_females = total_person_2nd_Sub_Ln_females + a['2nd_Sub_Ln_Females'][i]
        
    
    percent_one_males.append(((total_person_Main_Ln_males-total_person_1st_Sub_Ln_males)/total_person_males)*100)
    percent_two_males.append(((total_person_1st_Sub_Ln_males-total_person_2nd_Sub_Ln_males)/total_person_males)*100)
    percent_three_males.append((total_person_2nd_Sub_Ln_males/total_person_males)*100)
    percent_one_females.append(((total_person_Main_Ln_females-total_person_1st_Sub_Ln_females)/total_person_females)*100)
    percent_two_females.append(((total_person_1st_Sub_Ln_females-total_person_2nd_Sub_Ln_females)/total_person_females)*100)
    percent_three_females.append((total_person_2nd_Sub_Ln_females/total_person_females)*100)
    
    
    
# for remaining datasets having "DDW-C17-i00.XLSX" format, i is from 10 to 35    
for i in range(10,36):
    a = pd.read_excel("DDW-C17-"+str(i)+"00.XLSX",header=5)
    #print(list_of_states[i])
    c = ['State_Code','State_Name','Main_Ln_Code','main_Ln_Name','Main_Ln_Persons','Main_Ln_Males','Main_Ln_Females','1st_Sub_Ln_Code','1st_Sub_Ln_Name','1st_Sub_Ln_Persons','1st_Sub_Ln_Males','1st_Sub_Ln_Females','2nd_Sub_Ln_Code','2nd_Sub_Ln_Name','2nd_Sub_Ln_Persons','2nd_Sub_Ln_Males','2nd_Sub_Ln_Females']
    a.columns = c
    
    # for state code
    state_code.extend(list(a['State_Code'].dropna().unique()))
    
    # for main language
    unique_Main_Ln = list(a['Main_Ln_Code'].dropna().unique())
    list_of_index_Main_Ln = []
    for i in unique_Main_Ln:
        list_of_index_Main_Ln.extend(a.index[a['Main_Ln_Code']==i].tolist())
    total_person_Main_Ln_males = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln_males = total_person_Main_Ln_males + a['Main_Ln_Males'][i]
    #total_person_Main_Ln.append(s1)
    total_person_Main_Ln_females = 0
    for i in list_of_index_Main_Ln:
        total_person_Main_Ln_females = total_person_Main_Ln_females + a['Main_Ln_Females'][i]
        
        
    
    #for first subsidiary language
    unique_1st_Sub_Ln = list(a['1st_Sub_Ln_Code'].dropna().unique())
    list_of_index_1st_Sub_Ln = []
    for i in unique_1st_Sub_Ln:
        list_of_index_1st_Sub_Ln.extend(a.index[a['1st_Sub_Ln_Code']==i].tolist())
    total_person_1st_Sub_Ln_males = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln_males = total_person_1st_Sub_Ln_males + a['1st_Sub_Ln_Males'][i]
    #total_person_1st_Sub_Ln.append(s2)
    total_person_1st_Sub_Ln_females = 0
    for i in list_of_index_1st_Sub_Ln:
        total_person_1st_Sub_Ln_females = total_person_1st_Sub_Ln_females + a['1st_Sub_Ln_Females'][i]
    
    
    
    # for second subsidiary langauge
    unique_2nd_Sub_Ln = list(a['2nd_Sub_Ln_Code'].dropna().unique())
    list_of_index_2nd_Sub_Ln = []
    for i in unique_2nd_Sub_Ln:
        list_of_index_2nd_Sub_Ln.extend(a.index[a['2nd_Sub_Ln_Code']==i].tolist())
    total_person_2nd_Sub_Ln_males = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln_males = total_person_2nd_Sub_Ln_males + a['2nd_Sub_Ln_Males'][i]
    #total_person_2nd_Sub_Ln.append(s3)
    total_person_2nd_Sub_Ln_females = 0
    for i in list_of_index_2nd_Sub_Ln:
        total_person_2nd_Sub_Ln_females = total_person_2nd_Sub_Ln_females + a['2nd_Sub_Ln_Females'][i]
        
        
        
    percent_one_males.append(((total_person_Main_Ln_males-total_person_1st_Sub_Ln_males)/total_person_males)*100)
    percent_two_males.append(((total_person_1st_Sub_Ln_males-total_person_2nd_Sub_Ln_males)/total_person_males)*100)
    percent_three_males.append((total_person_2nd_Sub_Ln_males/total_person_males)*100)
    percent_one_females.append(((total_person_Main_Ln_females-total_person_1st_Sub_Ln_females)/total_person_females)*100)
    percent_two_females.append(((total_person_1st_Sub_Ln_females-total_person_2nd_Sub_Ln_females)/total_person_females)*100)
    percent_three_females.append((total_person_2nd_Sub_Ln_females/total_person_females)*100)

In [13]:
# creating dataframe from lists, make the state code (numerical) in proper format, storing dataframe to csv
## gender-india-{a}.csv
df1 = pd.DataFrame({'state-code':state_code,'male-percentage':percent_one_males,'female-percentage':percent_one_females})
df1['state-code']=df1['state-code'].apply('="{}"'.format)
df1

   state-code  male-percentage  female-percentage
0       ="01"         0.482270           0.570517
1       ="02"         0.448908           0.480610
2       ="03"         1.180111           1.251365
3       ="04"         0.041357           0.037061
4       ="05"         0.666647           0.710285
5       ="06"         1.642480           1.614578
6       ="07"         0.833486           0.812795
7       ="08"         4.999609           5.091040
8       ="09"        14.627780          14.596726
9       ="10"         7.193454           7.233511
10      ="11"         0.017606           0.019035
11      ="12"         0.037784           0.044637
12      ="13"         0.058201           0.065698
13      ="14"         0.108829           0.134257
14      ="15"         0.061157           0.069152
15      ="16"         0.186256           0.211789
16      ="17"         0.168587           0.186155
17      ="18"         1.277141           1.495094
18      ="19"         6.101156           6.505203
19      ="20"         1.838063           1.962494
20      ="21"         2.141373           2.519238
21      ="22"         1.766854           1.897378
22      ="23"         5.156288           5.221463
23      ="24"         2.636339           3.083101
24      ="25"         0.012682           0.008097
25      ="26"         0.012924           0.010922
26      ="27"         4.204933           4.892295
27      ="28"         4.853136           5.573543
28      ="29"         2.877367           3.218077
29      ="30"         0.024348           0.030742
30      ="31"         0.003495           0.004107
31      ="32"         1.882697           2.298968
32      ="33"         4.033091           4.525936
33      ="34"         0.064006           0.077730
34      ="35"         0.009706           0.010665

In [14]:
# exporting csv for part(a) only mother toungue
df1.to_csv('gender-india-{a}.csv',index=False)

In [15]:
## gender-india-{b}.csv
df2 = pd.DataFrame({'state-code':state_code,'male-percentage':percent_two_males,'female-percentage':percent_two_females})
df2['state-code']=df1['state-code'].apply('="{}"'.format)
df2

   state-code  male-percentage  female-percentage
0    ="="01""         0.381225           0.291176
1    ="="02""         0.077573           0.070106
2    ="="03""         0.465343           0.392279
3    ="="04""         0.023159           0.019333
4    ="="05""         0.140105           0.118570
5    ="="06""         0.413371           0.320017
6    ="="07""         0.489506           0.409819
7    ="="08""         0.601196           0.462803
8    ="="09""         1.887290           1.450860
9    ="="10""         1.350140           1.134167
10   ="="11""         0.018277           0.015944
11   ="="12""         0.038787           0.038402
12   ="="13""         0.057007           0.057343
13   ="="14""         0.064826           0.062588
14   ="="15""         0.022374           0.019961
15   ="="16""         0.093756           0.082655
16   ="="17""         0.044977           0.045450
17   ="="18""         0.857271           0.810943
18   ="="19""         1.121982           0.876786
19   ="="20""         0.723322           0.663637
20   ="="21""         0.723023           0.645585
21   ="="22""         0.252775           0.235912
22   ="="23""         0.756745           0.652529
23   ="="24""         1.584943           1.266760
24   ="="25""         0.007927           0.005552
25   ="="26""         0.011063           0.009958
26   ="="27""         3.301855           2.912882
27   ="="28""         1.340929           1.171124
28   ="="29""         1.365987           1.345623
29   ="="30""         0.030815           0.032819
30   ="="31""         0.000787           0.000624
31   ="="32""         0.410586           0.411092
32   ="="33""         1.538775           1.425901
33   ="="34""         0.027720           0.025163
34   ="="35""         0.016130           0.014327

In [16]:
# exporting csv for part(a) mother tongue + 1st subsidiary
df2.to_csv('gender-india-{b}.csv',index=False)

In [17]:
## gender-india-{a}.csv
df3 = pd.DataFrame({'state-code':state_code,'male-percentage':percent_three_males,'female-percentage':percent_three_females})
df3['state-code']=df1['state-code'].apply('="{}"'.format)
df3

   state-code  male-percentage  female-percentage
0    ="="01""         0.201960           0.142527
1    ="="02""         0.032166           0.024985
2    ="="03""         0.703361           0.586481
3    ="="04""         0.028648           0.024409
4    ="="05""         0.017573           0.013325
5    ="="06""         0.109299           0.083280
6    ="="07""         0.118971           0.104958
7    ="="08""         0.103140           0.061933
8    ="="09""         0.248206           0.176770
9    ="="10""         0.165013           0.111320
10   ="="11""         0.015952           0.013951
11   ="="12""         0.037972           0.030955
12   ="="13""         0.049191           0.039294
13   ="="14""         0.057157           0.044346
14   ="="15""         0.005570           0.003106
15   ="="16""         0.020720           0.011817
16   ="="17""         0.025791           0.019432
17   ="="18""         0.422977           0.292079
18   ="="19""         0.287091           0.185786
19   ="="20""         0.154983           0.106721
20   ="="21""         0.538965           0.368639
21   ="="22""         0.039333           0.030195
22   ="="23""         0.121637           0.085064
23   ="="24""         0.831303           0.576820
24   ="="25""         0.003507           0.002169
25   ="="26""         0.007101           0.004639
26   ="="27""         1.837963           1.407329
27   ="="28""         0.615525           0.426831
28   ="="29""         0.725062           0.563839
29   ="="30""         0.063427           0.058873
30   ="="31""         0.001032           0.000603
31   ="="32""         0.278219           0.247582
32   ="="33""         0.226257           0.176480
33   ="="34""         0.006548           0.005251
34   ="="35""         0.006714           0.005252

In [18]:
# exporting csv for part(c) mother tongue + 1st subsidiary + 2nd subsidiary
df3.to_csv('gender-india-{c}.csv',index=False)